<form action='/add' method="POST">
  <input type='text' name="game_name" placeholder="Insert Game Name"></input>
  <input type='number' name="genre_id" placeholder="Insert Genre Id"></input>
  <button type='submit'>Add Game</button>
</form>