<h2>Been here before? Log in below</h2>

<form action='/' method="POST">
  <input type='text' name="username" placeholder="Insert Username"></input>
  <input type='password' name="password" placeholder="Insert Password"></input>
  <button type='submit'>Log In</button>
</form>

<h2>First time? Make a new account below</h2>

<form action='/new_here' method="POST">
  <input type='text' name="new_username" placeholder="Insert Username"></input>
  <input type='password' name="new_password" placeholder="Insert Password"></input>
  <button type='submit'>create new account</button>
</form>

<h2>Guest? </h2>

<form action='/guest' method="POST">
  <button type='submit'>log in as guest</button>
</form>