<h1><%=@game[0]%></h1>

<form action='/<%=@genres%>/<%= @id %>' method="POST">
  <input type='text' name="words" placeholder="comment something"></input>
  <button type='submit'>SUBMIT</button>
</form>

<%@comments.each do |comment|%>
<h3><%=comment['com_text']%></h3>
<%end%>