<form action='/' method="POST">
  <input type='text' name="username" placeholder="Insert Username"></input>
  <input type='text' name="password" placeholder="Insert Password"></input>
  <button type='submit'>Log In</button>
</form>
