<h1>game already exists</h1>
<form action='/wrong_game' method="POST">
  <button type='submit'>try another game name</button>
</form>

<form action='/home' method="POST">
  <button type='submit'>go to games</button>
</form>